<?xml version="1.0" encoding="UTF-8"?>

 
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
					http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
<!-- 

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true"
  id="WebApp_ID">
-->



  <display-name>360sites.org</display-name>
  <session-config>
  	<session-timeout>30</session-timeout>
  	<cookie-config>
        <name>s_user</name>
        <path>/</path>
        <max-age>31536000</max-age>
    </cookie-config>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Gateway</display-name>
    <servlet-name>Gateway</servlet-name>
    <servlet-class>org.proffart.pan.web.Gateway</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gateway</servlet-name>
    <url-pattern>/gateway</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <display-name>FileUpload</display-name>
   <servlet-name>FileUpload</servlet-name>
   <servlet-class>org.proffart.pan.fileManager.FileUpload</servlet-class>
</servlet>

<servlet-mapping>
   <servlet-name>FileUpload</servlet-name>
   <url-pattern>/Upload/upload</url-pattern>
</servlet-mapping>
</web-app>